scripts/.DS_Store
scripts/cli/.DS_Store
scripts/cli/CHOpt
scripts/cli/fnf_chopt
scripts/cli/libpng16.16.dylib
scripts/download.py
scripts/fnf.py
scripts/fnfp copy.js
scripts/fnfp.js
scripts/fnfp_with_title_artist.js
scripts/merge.py
scripts/run_script.sh
scripts/TestXbox.json
scripts/scan.py
scripts/title.py
scripts/songs.dta
scripts/rbpaths.js
scripts/missing_id.py
scripts/fuzzy.py
scripts/fnfp_with_title_artist_fuzzy_with_songinfo.js
scripts/fnfp_shortnames.js
scripts/fnfp_shortnames copy.js
